<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
        name="description"
        content="145 ta kasb ichidan sizga mos Top 3 kasbni aniqlovchi test"
    >

    <title>
        {% block title %}
            Kim bo‘laman?
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='/css/style.css') }}?v=20"
    >
</head>

<body>

<header class="site-header">
    <div class="container navigation">

        <a
            href="/"
            class="logo"
        >
            🧭 Kim bo‘laman?
        </a>

        <nav>
            <a href="/">
                Bosh sahifa
            </a>

            <a
                href="/test"
                class="small-button"
            >
                Testni boshlash
            </a>
        </nav>

    </div>
</header>


<main>
    {% block content %}
    {% endblock %}
</main>


<footer class="site-footer">
    <div class="container">
        <p>
            © 2026 Kim bo‘laman?
            Barcha huquqlar himoyalangan.
        </p>
    </div>
</footer>


<script
    src="{{ url_for('static', path='/js/script.js') }}?v=20"
></script>

</body>
</html>